<div>
  <% flash.each do |key, value| %>
    <%= flash[:notice] %>
  <% end %>
</div>

<%= render 'user_error', user: @user %>

<%= render 'user_info', user: @user %>

<%= render 'user_edit_link', user: @user %>

<%= render 'books/new_book', book: @book %>


<% @books.each do |book| %>
<div>
  <h1>Books</h1>
  <table class="table">
    <tbody>
      <tr>
        <th>
          <%= link_to user_path do %>
            <%= image_tag book.user.get_profile_image(100,100) %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th><%= link_to book.title, book_path(book) %></th>
      </tr>
      <tr>
        <th><%= book.body %></th>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
