<%= render 'book_error', book: @book %>

<%= render 'users/user_info', user: @user %>

<%= render 'users/user_edit_link', user: @user %>

<%= render 'new_book', book: @book %>


<% @books.each do |book| %>
<div>
  <h1>Books</h1>
  <table class="table">
    <tbody>
      <tr>
        <th>
          <%= link_to user_path(book.user.id) do %>
            <%= image_tag book.user.get_profile_image(100,100) %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th>本のタイトル</th>
        <th>感想</th>
      </tr>
      <tr>
        <th><%= link_to book.title, book_path(book.id) %></th>
        <th><%= book.body %></th>
      </tr>
    </tbody>
  </table>
</div>
<% end %>